.hero {
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  padding: 1rem 2rem;
}
.hero .main {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  padding-bottom: 3rem;
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-family: var(--font-hero);
}
.hero .main .hero-content h2 {
  font-size: 3rem;
  color: var(--thirty-pr-color);
}
.hero .main .hero-content span {
  color: var(--ten-pr-color);
}
.hero .hero-content p {
  font-size: 25px;
}
.hero .hero-content .buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hero .hero-content button {
  border: none;
  background-color: var(--thirty-pr-color);
  color: var(--sixty-pr-color);
  padding: 0.9rem 0.8rem;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 600;
  width: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.hero .main .img img {
  width: 90%;
}

.search {
  padding: 1rem 0.8rem;
  outline: none;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 5px;
  display: block;
  width: 75%;
}

.hero-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 3rem 0;
}

.hero-card-container .hero-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  justify-content: space-between;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 1rem;
  align-items: center;
  border-radius: 5px;
}

.hero-card-container .hero-card img {
  width: 200px;
  height: 200px;
  max-width: 100%;
  object-fit: contain;
}

.hero-card-container .hero-card h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.hero-card p{
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.hero-card button{
  padding: .8rem 1rem;
  background-color: var(--thirty-pr-color);
  color: var(--sixty-pr-color);
  border: none;
  outline: none;
  width: 150px;
  border-radius: 5px;
}

@media only screen and (max-width: 570px) {
  .hero-card-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .hero-card{
    width: 250px;
  }
}
