.heading {
  font-family: "Rubik", sans-serif;
}

.feature {
  position: relative;
  padding: 3rem 0;
  border-radius: 10%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.feature::after {
  bottom: 0%;
  right: 10%;
  transform: translate(-20%, -20%);
  border-radius: 50%;
  z-index: -20;
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  background-color: var(--shade);
}

.feature::before {
  top: 10%;
  left: 5%;
  transform: translate(-20%, -20%);
  border-radius: 50%;
  z-index: -20;
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  background-color: var(--shade);
}

.feature .feature-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0px 30px;
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
}

.feature-card .card {
  padding: 30px 30px;
  text-align: center;
  border: 1px solid var(--sixty-pr-color);
  width: 230px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.feature-card .card:hover {
  background-color: var(--sixty-pr-color);
}

.feature-card .card h4 {
  color: var(--thirty-pr-color);
  font-weight: 600;
  font-size: 20px;
  margin-top: 0.5rem;
}
.feature-card .card p {
  color: var(--thirty-pr-color);
  margin-top: 0.5rem;
}

.feature-card .card img {
  max-width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
  margin: 0 auto;
}

.feature-card .card button {
  margin-top: 0.5rem;
  border: none;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  background-color: var(--ten-pr-color);
  color: var(--sixty-pr-color);
}

.btn {
  margin-top: 0.5rem;
  border: none;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  background-color: var(--ten-pr-color);
  color: var(--sixty-pr-color);
}

.heading h4 {
  color: var(--thirty-pr-color);
}

.heading h4 span {
  color: var(--ten-pr-color);
}
