.header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(4px);
  transition: ease 0.5s;
  z-index: 1000;
}

.header.header-not-active {
  position: sticky;
}

.header.invisible {
  top: -50%;
}

.header.visible {
  top: 0%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
}
.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-logo);
  font-weight: 900;
  letter-spacing: 0;
  font-size: 2rem;
  color: var(--thirty-pr-color);
}
.navbar .logo .square {
  background-color: var(--sixty-pr-color);
  box-shadow: rgba(50, 50, 93, 0.95) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.7) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.7) 0px -2px 6px 0px inset;
  border: 1px solid var(--sixty-pr-color);
  width: 50px;
  height: 50px;
  border-radius: 3px;
  transform: rotate(45deg);
  position: absolute;
  animation: stretch ease-in 1.5s infinite;
}

@keyframes stretch {
  0% {
    width: 40px;
    transform: rotate(45deg);
  }
  25% {
    width: 45px;
    border-radius: 50%;
    transform: rotate(90deg);
  }
  50% {
    width: 50px;
    border-radius: 20%;
    transform: rotate(135deg);
  }
  75% {
    width: 40px;
    transform: rotate(180deg);
  }
  100% {
    width: 50px;
    border-radius: 5%;
    transform: rotate(225deg);
  }
}
.navbar .logo h4 {
  position: relative;
  margin-left: 8px;
  letter-spacing: 2px;
}

.navbar .nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar .nav-list li {
  list-style: none;
  font-size: 15px;
}
.navbar .nav-list li a {
  text-decoration: none;
  color: var(--thirty-pr-color);
  font-family: var(--font-list-item);
  font-weight: 600;
}
.navbar .nav-list button {
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.navbar .nav-list .signup {
  background-color: var(--thirty-pr-color);
  color: var(--sixty-pr-color);
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
}
.hamburger .line {
  width: 30px;
  height: 3px;
  transition: all 0.3s ease-in-out;
  background-color: var(--thirty-pr-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  border-radius: 5px;
}
.hamburger .line:nth-child(3) {
  width: 30px;
  margin-left: auto;
}
