footer {
  background-color: var(--thirty-pr-color);
  text-align: center;
  padding: 30px 20px;
  font-family: "Rubik", "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
  padding-top: 3rem;
}

.v-line {
  width: 1px;
  height: 60px;
  background-color: var(--sixty-pr-color);
  margin-left: 1.5rem;
}

footer .edu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.edu-logo span {
  color: var(--sixty-pr-color);
  font-size: 15px;
}

.subscribe-letter {
  margin-top: 1rem;
}

footer .subscribe-letter h5 {
  color: var(--sixty-pr-color);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#footer-search {
  border: 1px solid var(--sixty-pr-color);
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 5px;
  width: 180px;
  font-size: 15px;
  font-weight: 500;
  margin-right: 1rem;
  color: var(--thirty-pr-color);
}
footer .subscribe-letter button {
  background: linear-gradient(
    105.5deg,
    var(--ten-pr-color) 19.57%,
    var(--thirty-pr-color) 78.85%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: none;
  padding: 10px 20px;
  color: var(--sixty-pr-color);
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

footer .copyright p {
  color: var(--sixty-pr-color);
  font-size: 13px;
  margin-top: 1rem;
}

.footer .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-logo);
  font-weight: 900;
  letter-spacing: 0;
  font-size: 2rem;
  color: var(--thirty-pr-color);
}
.footer .logo .square {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  transform: rotate(45deg);
  position: absolute;
  animation: stretch ease-in 1.5s infinite;
  background-color: var(--ten-pr-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@keyframes stretch {
  0% {
    width: 40px;
    transform: rotate(45deg);
  }
  50% {
    width: 50px;
    border-radius: 50%;
    transform: rotate(70deg);
  }
  75% {
    width: 40px;
    transform: rotate(180deg);
  }
  100% {
    width: 50px;
    border-radius: 0%;
    transform: rotate(45deg);
  }
}
.footer .logo h4 {
  position: relative;
  margin-left: 8px;
  letter-spacing: 2px;
}

.subscribe-letter h5 span {
  color: var(--ten-pr-color);
}

#footer-logo {
  color: var(--sixty-pr-color);
}

#footer-search{
  color: white;
}

#footer-search::placeholder{
  color: var(--sixty-pr-color);
}

#footer-search:focus{
  outline: 2px solid var(--sixty-pr-color);
}