@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

#root {
  --font-logo: "Nunito", sans-serif;
  --font-list-item: "Poppins", sans-serif;
  --font-hero: "Instrument Sans", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.bg-cream {
  background-color: var(--shade);
}

a {
  text-decoration: none;
  color: var(--thirty-pr-color);
}

body {
  background-color: var(--sixty-pr-color);
}

@media only screen and (max-width: 767px) {
  .hamburger {
    display: flex;
    position: fixed;
    right: 5%;
    z-index: 1000;
  }
  .hamburger.active .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .line:nth-child(3) {
    width: 30px;
    transform: translateY(-6px) rotate(-45deg);
  }
  .navbar ul {
    position: fixed;
    left: 0;
    top: -100%;
    scale: -1;
    opacity: 0;
    flex-direction: column;
    background-color: var(--sixty-pr-color);
    width: 100%;
    height: 50%;
    transition: ease 0.5s;
    z-index: 1000;
  }

  .nav-list.active {
    left: 5%;
    width: 90%;
    top: 100%;
    scale: 1;
    opacity: 1;
    height: 275%;
    background-color: var(--sixty-pr-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  .nav-list.small-height {
    height: 170%;
  }

  .hero {
    padding: 0.5rem;
    margin: 0;
  }

  .hero .main {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
  }
  .hero .hero-content {
    text-align: center;
    padding: 0;
  }
  .hero .hero-content .buttons {
    display: flex;
    flex-direction: column;
  }

  .hero .hero-content .buttons .search {
    width: 100%;
  }
  .hero .hero-content .buttons button {
    width: 75%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  .intro .container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
  }
  .intro .container .platform {
    width: 350px;
    display: flex;
    text-align: center;
    align-items: center;
    background-size: contain;
    height: 280px;
    margin: auto;
  }

  .hero .img {
    display: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .main .img {
    width: 90%;
  }
  .main .img img {
    width: 100%;
  }
  .everything .content {
    align-self: flex-start;
    width: 80%;
  }
  .user-interface .img {
    width: 90%;
  }
  .user-interface .img img {
    width: 100% !important;
  }
  .user-interface .green,
  .user-interface .blue {
    width: 20%;
    height: 28%;
  }
  .user-interface .main .content {
    align-self: flex-start;
    width: 90%;
  }
  .tool .main .content {
    align-self: flex-start;
    width: 90%;
  }
  .test .main {
    flex-direction: column-reverse;
  }
  .management .main img {
    width: 90%;
  }
  .discussion .main {
    flex-direction: column-reverse;
  }
  .discussion .main .img img {
    padding: 0px 10px;
  }
  .testimonial .main {
    flex-direction: column-reverse;
    padding: 0px 30px;
  }

  .main .content {
    width: 80%;
  }

  .feature-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 890px) {
  .blog-container {
    flex-direction: column;
  }
  .blog-container .main-blog {
    align-self: center;
    width: 80% !important;
  }
  .blog-container .main-blog img {
    width: 100%;
  }
  .blog-container .blog-post {
    width: 80%;
    align-self: center;
  }
  .blog-container .blog-post img {
    width: 70% !important;
  }
}
@media only screen and (max-width: 567px) {
  .blog-container .blog-post {
    width: 100%;
    /* align-self: center; */
  }

  .filter-list {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .filter-list-group {
    width: 70%;
  }

  .filter-list-group select {
    display: block;
    width: 100%;
    padding: 1rem 0.7rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* padding: 2rem; */
    border-radius: 5px;
  }

  .filter-list-group::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 25px;
    background: var(--thirty-pr-color);
    color: var(--sixty-pr-color);
    padding: 11px 15px;
    pointer-events: none;
    border-radius: 5px;
  }
  .filter-list-group {
    position: relative;
  }
}
@media only screen and (max-width: 420px) {
  .blog-container .blog-post .post h4 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 677px) {
  .blog-container .blog-post img {
    width: 100% !important;
  }

  .nav-list.active {
    padding: 0;
    justify-content: center;
  }
}
@media only screen and (max-width: 380px) {
  footer .subscribe-letter .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .hero .main {
    padding: 10px 30px;
  }
}

#top {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.top.invisible {
  display: none;
}

.top.visible {
  display: block;
}

*::selection {
  background-color: #2F327D;
  color: var(--sixty-pr-color);
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--thirty-pr-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ten-pr-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--sixty-pr-color);
}